.square {
  width: var(--square-size);
  height: var(--square-size);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.square.light {
  background-color: var(--clr-light);
}

.square.dark {
  background-color: var(--clr-dark);
}

.coord-label {
  font-size: calc(var(--square-size) * 0.2);

  position: absolute;
}

.rank-label {
  bottom: 0.25rem;
  left: 0.25rem;
}

.file-label {
  top: 0.25rem;
  right: 0.25rem;
}

.square.dark .coord-label {
  color: var(--dark-sq-coord-clr);
}

.square.light .coord-label {
  color: var(--light-sq-coord-clr);
}
