/* Mobile-first approach */

.chessboard-wrapper {
  --mobile-width: 100%;
  --tablet-width: 35rem;
  --desktop-width: 47.5rem;

  --board-margin: 1rem;
  --square-size: 2.5rem; /* Base square size for mobile devices */

  width: var(--mobile-width);
  max-width: 100%;
  padding: var(--board-margin);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries */
/* For tablets >= 576px */
@media screen and (width >= 36rem) {
  .chessboard-wrapper {
    --square-size: 3.5rem;

    width: var(--tablet-width);
  }
}

/* For desktops >= 992px */
@media screen and (width >= 62rem) {
  .chessboard-wrapper {
    --square-size: 4.5rem;

    width: var(--desktop-width);
  }
}

/* Additional breakpoint for very small screens <= 400px */
@media screen and (width <= 25rem) {
  .chessboard-wrapper {
    --square-size: 2.25rem; /* Slightly smaller cells for very small screens */

    padding: calc(var(--board-margin) / 2);
  }
}
